
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  @apply bg-gray-100; /* Apply Tailwind CSS background color */
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
}

::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}
